[Unit]
Description=microsocks vpn
Requires=netns@%i.service
After=netns@%i.service

[Service]
#User=myuser
StandardError=null
ExecStart=/usr/bin/microsocks -i 127.0.0.1 -p 1080

# namespace setup
NetworkNamespacePath=/run/netns/%i
BindReadOnlyPaths=/etc/netns/%i/resolv.conf:/etc/resolv.conf
BindReadOnlyPaths=/etc/netns/%i/nsswitch.conf:/etc/nsswitch.conf

[Install]
WantedBy=multi-user.target
