[Unit]
Description=netns setup

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/netns %i setup
ExecStop=/usr/local/sbin/netns %i remove
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
