[Unit]
Requires=netns@vpn.service
After=netns@vpn.service
Requires=vpn-proxy.socket
After=vpn-proxy.socket

[Service]
#User=myuser
NetworkNamespacePath=/run/netns/vpn
ExecStart=/lib/systemd/systemd-socket-proxyd 127.0.0.1:1080
